* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Lobster', cursive;
    font-family: 'Noto Sans SC', sans-serif; */
    font-family: 'Pacifico', cursive;
    font-family: 'Rubik Wet Paint', cursive;
    font-weight: bold;
    color: #aacc00;
    text-shadow: 2px 2px 4px #70e000;
    letter-spacing: 2px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 60vh;
    background: linear-gradient(to bottom, #495057 0%, #adb5bd 50%, #495057 100%);
    margin-top: 5%;
}

.box {
    background: #cce3de;
    width: 580px;
    border-radius: 15px;
    padding: 20px;
    margin-top: 10px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.5);
    margin-bottom: 10px;
}

h2 {
    text-align: center;
}

hr {
    width: 190px;
    margin: 10px auto;
    border: 2px solid #000;
    border-radius: 50%;
}

.member {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.team {
    margin: 8px;
    flex: 1;
    text-align: center;
}

img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 10px auto;
}

h4,
p {
    font-size: 12px;
    margin: 7px;
}

@media (max-width: 768px) {
    .box {
        width: 80%;
    }
    .member {
        flex-direction: column;
        align-items: center;
    }
}